html {
    height: 100%;
}

body {
    height: 100%;
    overflow-y: hidden;
    padding: 0;
    margin: 0;
}

#titlebar {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 64px;
    border-bottom: 2px solid #0099cc;
}

#title-label {
    position: absolute;
    left: 8px;
    top: 16px;
    right: 64px;
    bottom: 8px;
    font-size: 24px;
    color: #00bfff;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

#close-button {
    position: absolute;
    right: 10px;
    top: 10px;
    width: 44px;
    height: 44px;
}

#content {
    position: absolute;
    top: 66px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    overflow-y: auto;
}


#content td {
    padding: 0 2px 0 2px;
}

#content .header-row td {
    font-size: 20px;
    background-color: rgba(255, 255, 255, 0.4);
    padding: 13px;
}

#content table {
    border-collapse: collapse;
}
#content tr.stop-row {
    font-size: 14px;
}
#content tr.times {
    font-size: 18px;
}
#content tr.stop-row td {
    padding-top: 5px;
}
#content .column_even {
    background-color: rgba(255, 255, 255, 0.1);
}
#content .stop-name {
    position: absolute;
    left: 2px;
    width: 300px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#content .highlight {
    background-color: #0099cc;
}