#titlebar {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 64px;
    border-bottom: 2px solid #0099cc;
}

#title-icon-wrapper {
    display: block;
    position: absolute;
    left: 12px;
    top: 12px;
    height: 40px;
    width: 40px;
}
#title-icon {
    height: 100%;
}

#title-label {
    position: absolute;
    left: 60px;
    top: 16px;
    right: 64px;
    bottom: 8px;
    font-size: 24px;
    color: #00bfff;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

#close-button {
    position: absolute;
    right: 10px;
    top: 10px;
    width: 44px;
    height: 44px;
}

#content {
    position: absolute;
    top: 66px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    overflow-y: hidden;
}

#content .item {
    position: relative;
    border-bottom: 1px solid #BEBEBE;
    height: 49px;
    cursor: pointer;
}

#content .item:hover, #content .item:active {
    background-color: #8e8f8d;
}

#content .item-icon {
    position: absolute;
    display: block;
    left: 10px;
    top: 10px;
    width: 30px;
}

#content .item-label {
    position: absolute;
    left: 50px;
    right: 60px;
    top: 10px;
    font-size: 20px;
}
