<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Open Travel Mate</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no"/>
    <link rel="stylesheet" href="../common/common.css" type="text/css" media="screen"/>
    <link rel="stylesheet" href="itinerary-finder.css" type="text/css" media="screen"/>
</head>
<body class="otm-panel">
    <div id="search-criterion-panel">
        <div class="search-criteria-row">
            <label for="position-from" class="search-criteria-label">From</label>
            <div class="search-criteria-input-wrapper">
                <input id="position-from" type="text" class="otm-input-text search-criteria-input" value="My position"/>
            </div>
            <button id="erase-position-from-button" class="otm-button otm-button-middle erase-button">
                <img src="../common/image/ic_btn_erase.png" alt="Erase"/>
            </button>
        </div>
        <div class="search-criteria-row">
            <label for="position-to" class="search-criteria-label">To</label>
            <div class="search-criteria-input-wrapper">
                <input id="position-to" type="text" class="otm-input-text search-criteria-input"/>
            </div>
            <button id="erase-position-to-button" class="otm-button otm-button-middle erase-button">
                <img src="../common/image/ic_btn_erase.png" alt="Erase"/>
            </button>
        </div>
    </div>
</body>
</html>