<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Open Travel Mate</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no"/>
    <link rel="stylesheet" href="../common/common.css" type="text/css" media="screen"/>
    <link rel="stylesheet" href="itinerary-finder.css" type="text/css" media="screen"/>
</head>
<body class="otm-panel">
    <div id="search-criterion-panel">
        <div class="search-criteria-row">
            <label for="origin-place" class="search-criteria-label">From</label>
            <div class="search-criteria-input-wrapper">
                <input id="origin-place" type="text" class="otm-input-text search-criteria-input" placeholder="Current position"/>
            </div>
            <button id="origin-place-erase-button" class="otm-button otm-button-middle erase-button">
                <img src="../common/image/ic_btn_erase.png" alt="Erase"/>
            </button>
        </div>
        <div id="origin-place-suggestions-wrapper" class="suggested-places-wrapper">
            <ul id="origin-place-suggestions" class="suggested-places"></ul>
        </div>
        <div class="search-criteria-row">
            <label for="destination-place" class="search-criteria-label">To</label>
            <div class="search-criteria-input-wrapper">
                <input id="destination-place" type="text" class="otm-input-text search-criteria-input"/>
            </div>
            <button id="destination-place-erase-button" class="otm-button otm-button-middle erase-button">
                <img src="../common/image/ic_btn_erase.png" alt="Erase"/>
            </button>
        </div>
        <div id="destination-place-suggestions-wrapper" class="suggested-places-wrapper">
            <ul id="destination-place-suggestions" class="suggested-places"></ul>
        </div>
        <div id="itinerary-datetime-wrapper" class="search-criteria-row">
            <label class="search-criteria-label">Date</label>
            <button id="itinerary-year" class="otm-button otm-button-middle">2014</button>
            <button id="itinerary-month" class="otm-button otm-button-middle">01</button>
            <button id="itinerary-day" class="otm-button otm-button-middle">01</button>
            <button id="itinerary-time" class="otm-button otm-button-middle">12:00</button>
        </div>
        <div id="datetime-select-wrapper">
            <ul id="datetime-select"></ul>
        </div>

        <div class="search-criteria-row">
            <button id="find-button" class="otm-button">
                <img src="../common/image/ic_btn_find.png" alt=""/>
                Search
            </button>
        </div>
    </div>

    <div id="found-itineraries-panel">
        <table id="found-itineraries-table">
            <thead>
                <tr>
                    <th class="itinerary-departure">Dep.</th>
                    <th class="itinerary-arrival">Arr.</th>
                    <th class="itinerary-legs">&nbsp;</th>
                    <th class="itinerary-duration">Dur.</th>
                </tr>
            </thead>
            <tbody id="found-itineraries-table-body"></tbody>
        </table>
    </div>

    <div id="searching-panel-mask"></div>
    <div id="searching-panel">
        <div id="searching-panel-content">
            <img src="../common/image/waiting.gif" />
            <div id="searching-label">Searching...</div>
        </div>
    </div>
    <script id="tpl-itinerary-info" type="text/template">
        <tr class="itinerary-info">
            <td class="itinerary-departure">${departureTime}</td>
            <td class="itinerary-arrival">${arrivalTime}</td>
            <td class="itinerary-legs">
                <% _.forEach(legs, function(leg) { %>
                <img class="itinerary-leg-img" alt="${leg.type}" src="image/${leg.type}.min.png" title="${leg.title}"/>
                <% }); %>
            </td>
            <td class="itinerary-duration">${duration}</td>
        </tr>
    </script>
</body>
</html>