body {
    margin: 0;
    padding: 0;
}

#search-criterion-panel {
    border-bottom: 2px solid #aaa;
    padding: 5px;
}

.search-criteria-row {
    position: relative;
    min-height: 40px;
    margin-bottom: 5px;
}

.search-criteria-label {
    position: absolute;
    width: 80px;
    left: 4px;
    top: 7px;
    font-size: 18px;
    font-weight: bold;
}

.search-criteria-input-wrapper {
    position: absolute;
    left: 90px;
    right: 60px;
    top: 4px;
}

.search-criteria-input-wrapper input {
    width: 100%;
}

.erase-button {
    position: absolute;
    right: 5px;
}

.erase-button img {
    height: 25px !important;
    width: 25px !important;
    margin-left: 5px !important;
}

#itinerary-year {
    position: absolute;
    left: 90px;
    width: 70px;
    text-align: center;
}
#itinerary-month {
    position: absolute;
    left: 165px;
    width: 35px;
    text-align: center;
}
#itinerary-day {
    position: absolute;
    left: 205px;
    width: 35px;
    text-align: center;
}
#itinerary-time {
    position: absolute;
    left: 260px;
    width: 75px;
    text-align: center;
}

#itinerary-year.active, #itinerary-month.active, #itinerary-day.active, #itinerary-time.active {
    background-color: #0099cc;
}


#find-button-wrapper {
    position: absolute;
    left: 5px;
    right: 5px;
    top: 147px;
    height: 44px;
}

#find-button {
    width: 100%;
    height: 100%;
    padding: 4px;
}

#find-button img {
    display: inline;
    width: auto;
    margin: 0px;
    height: 36px;
    vertical-align: middle;
}

/**
 * Suggested places
 */

.suggested-places-wrapper {
    display: none;
    position: relative;
    margin-bottom: 5px;
}

.suggested-places-wrapper ul {
    display: none;
    margin: 0 5px 20px 5px;
    padding: 0;
    border-top: 1px solid #aaa;
    list-style-type: none;
}

.suggested-places-wrapper li {
    padding: 10px;
    border-bottom: 1px solid #aaa;
    border-left: 1px solid #aaa;
    border-right: 1px solid #aaa;
    cursor: pointer;
}

.suggested-places-wrapper li:hover {
    background-color: #363735;
}

/**
 * Date time selection
 */

#datetime-select-wrapper {
    display: none;
    height: 200px;
    overflow-y: auto;
    border: 1px solid #aaa;
    margin-bottom: 5px;
}

#datetime-select-wrapper ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

#datetime-select-wrapper li {
    padding: 10px;
    border-bottom: 1px solid #aaa;
    cursor: pointer;
    text-align: center;
}
#datetime-select-wrapper li.active {
    background-color: #0099cc;
}
#datetime-select-wrapper li:hover {
    background-color: #363735;
}


/**
 * Searching panel
 */

#searching-panel-mask {
    display: none;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.5;
    background-color: #aaa;
}

#searching-panel {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
}

#searching-panel-content {
    position: absolute;
    top: -70px;
    left: -70px;
    width: 140px;
    height: 140px;
    background-color: #4B4C49;
    border-radius: 10px;
}

#searching-panel-content img {
    width: 70px;
    height: 70px;
    margin-top: 20px;
    margin-left: 35px;
    opacity: 1;
}

#searching-label {
    width: 100%;
    text-align: center;
    margin-top: 7px;
}

/**
 * Found itineraries panel
 */

#found-itineraries-panel {
    display: none;
}

#found-itineraries-table {
    width: 100%;
    border-collapse: collapse;
}

#found-itineraries-table th, #found-itineraries-table td {
    height: 44px;
    border-bottom: 1px solid #aaa;
}

#found-itineraries-table tr.itinerary-info {
    cursor: pointer;
}

#found-itineraries-table tr.itinerary-info:hover {
    background-color: #363735;
}

.itinerary-departure, .itinerary-arrival, .itinerary-duration {
    width: 60px;
    text-align: center;
}
.itinerary-legs {
    text-align: center;
}
.itinerary-leg-img {
    height: 32px;
    width: auto;
    margin-top: 4px;
}