<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Open Travel Mate</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no"/>
    <link rel="stylesheet" href="../common/common.css" type="text/css" media="screen"/>
    <link rel="stylesheet" href="itinerary-details.css" type="text/css" media="screen"/>
</head>
<body class="otm-panel">
    <div id="itinerary-details"></div>
    <script id="tpl-itinerary-steps" type="text/template">
        <table id="itinerary-steps">
            <tr id="place-elements">
                <% var placeNames = [itinerary.legs[0].startPlaceName].concat(_.pluck(itinerary.legs, 'endPlaceName')); %>
                <% _.each(placeNames, function (placeName) { %>
                <td colspan="2"><%=placeName %></td>
                <% }); %>
            </tr>
            <tr id="path-lines">
                <td></td>
                <% _.each(itinerary.legs, function (leg, index) { %>
                <td style="background-color: #<%=leg.routeColor ? leg.routeColor : '1E90FF' %>;">
                    <div class="station-wrapper"><div class="station"></div></div>
                </td>
                <td style="background-color: #<%=leg.routeColor ? leg.routeColor : '1E90FF' %>;">
                    <% if (index >= itinerary.legs.length - 2) { %>
                    <div class="station-wrapper-right"><div class="station"></div></div>
                    <% } %>
                </td>
                <% }); %>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <% _.each(itinerary.legs, function (leg) { %>
                <td colspan="2" class="itinerary-leg-type-name-duration">
                    <% var legType = leg.routeType === 0 ? 'walk' : 'bus'; %>
                    <img class="itinerary-leg-img" alt="${legType}" src="image/${legType}-dark.min.png"/>
                    <%=leg.routeShortName ? leg.routeShortName : '&nbsp;' %>
                    <span class="itinerary-leg-headsign-duration">
                        <%=leg.headsign ? ' - ' + leg.headsign + ' - ' : '' %>
                        <%=leg.formattedStartTime %> → <%=leg.formattedEndTime %>
                        (<%=Math.round(leg.durationSecond / 60) + 'min' %>)
                    </span>
                </td>
                <% }); %>
                <td></td>
            </tr>
        </table>
    </script>
</body>
</html>