body {
    padding: 0;
    margin: 0;
}

#route-table-wrapper {
    overflow: auto;
    position: absolute;
    top: 8px;
    bottom: 8px;
    left: 8px;
    right: 8px;
}

#route-table {
    width: 100%;
    border-collapse: collapse;
}

.route-short-name {
    text-align: left;
}
.route-color-box {
    position: relative;
    display: inline-block;
    width: 1em;
    height: 1em;
    border: 1px solid black;
    top: 3px;
}

#route-table th {
    padding-bottom: 8px;
}
#route-table td {
    padding-bottom: 2px;
}

.timetable-btn {
    float: right;
}
