body {
    padding: 0;
    margin: 0;
}

#line-table-wrapper {
    overflow: auto;
    position: absolute;
    top: 8px;
    bottom: 8px;
    left: 8px;
    right: 8px;
}

#line-table {
    width: 100%;
    border-collapse: collapse;
}

.line-name {
    text-align: left;
}
.line-color-box {
    display: inline-block;
    width: 1em;
    height: 1em;
    border: 1px solid black;
}