body {
    margin: 0;
    padding: 0;
}

#place-query-wrapper {
    position: absolute;
    left: 5px;
    top: 10px;
    right: 60px;
}

#place-query {
    width: 100%;
}

#erase-button {
    position: absolute;
    right: 5px;
    top: 5px;
}

#erase-button img {
    height: 25px; width: 25px; margin-left: 5px;
}

#find-button-wrapper {
    position: absolute;
    left: 5px;
    right: 5px;
    top: 50px;
    height: 44px;
}

#find-button {
    width: 100%;
    height: 100%;
    padding: 4px;
}

#find-button img {
    display: inline;
    width: auto;
    margin: 0px;
    height: 36px;
    vertical-align: middle;
}

#place-finder-form {
    height: 100px;
    border-bottom: 2px solid #aaa;
}

#suggested-places {
    position: absolute;
    top: 105px;
    bottom: 0;
    left: 5px;
    right: 5px;
    overflow: auto;
}

#suggested-places-wrapper ul {
    padding: 0;
    margin: 0;
}

#suggested-places-wrapper li {
    padding: 10px;
    border-bottom: 1px solid #aaa;
    cursor: pointer;
}

#suggested-places-wrapper li:hover {
    background-color: #363735;
}

#searching-panel-mask {
    display: none;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.5;
    background-color: #aaa;
}

#searching-panel {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
}

#searching-panel-content {
    position: absolute;
    top: -70px;
    left: -70px;
    width: 140px;
    height: 140px;
    background-color: #4B4C49;
    border-radius: 10px;
}

#searching-panel-content img {
    width: 70px;
    height: 70px;
    margin-top: 20px;
    margin-left: 35px;
    opacity: 1;
}

#searching-label {
    width: 100%;
    text-align: center;
    margin-top: 7px;
}