<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Open Travel Mate</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no"/>
    <link rel="stylesheet" href="../common/common.css" type="text/css" media="screen"/>
    <link rel="stylesheet" href="place-finder.css" type="text/css" media="screen"/>
</head>
<body class="otm-panel">
    <div id="place-finder-form">
        <div id="place-query-wrapper">
            <input id="place-query" class="otm-input-text" type="text" placeholder="Place, address, ..."/>
        </div>

        <button id="erase-button" class="otm-button otm-button-middle">
            <img src="image/ic_btn_erase.png" alt="Close"/>
        </button>

        <div id="find-button-wrapper">
            <button id="find-button" class="otm-button">
                <img src="image/ic_btn_find_place.png" alt=""/>
                Search
            </button>
        </div>
    </div>
    <div id="suggested-places-wrapper">
        <ul id="suggested-places">
            <li class="suggested-place" id="place1">Suggested place 1</li>
            <li class="suggested-place" id="place2">Suggested place 2</li>
            <li class="suggested-place" id="place3">Suggested place 3</li>
            <li class="suggested-place" id="place4">Suggested place 4</li>
            <li class="suggested-place" id="place5">Suggested place 5</li>
            <li class="suggested-place" id="place6">Suggested place 6</li>
        </ul>
    </div>
</body>
</html>