#place-query-wrapper {
    position: absolute;
    left: 5px;
    top: 10px;
    right: 105px;
}

#place-query {
    width: 100%;
}

#find-button {
    position: absolute;
    right: 50px;
    top: 5px;
    padding: 4px;
}

#close-button {
    position: absolute;
    right: 5px;
    top: 5px;
}

#suggested-places {
    position: absolute;
    top: 50px;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: auto;
}