<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Open Travel Mate</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no"/>
    <link rel="stylesheet" href="../common/common.css" type="text/css" media="screen"/>
    <link rel="stylesheet" href="place-finder.css" type="text/css" media="screen"/>
</head>
<body class="otm-panel">
    <div id="place-finder-form">
        <div id="place-query-wrapper">
            <input id="place-query" class="otm-input-text" type="text" placeholder="Place, address, ..."/>
        </div>

        <button id="erase-button" class="otm-button otm-button-middle">
            <img src="image/ic_btn_erase.png" alt="Erase"/>
        </button>

        <div id="find-button-wrapper">
            <button id="find-button" class="otm-button">
                <img src="image/ic_btn_find_place.png" alt=""/>
                Search
            </button>
        </div>
    </div>
    <div id="suggested-places-wrapper">
        <ul id="suggested-places"></ul>
    </div>
    <div id="searching-panel-mask"></div>
    <div id="searching-panel">
        <div id="searching-panel-content">
            <img src="../common/image/waiting.gif" />
            <div id="searching-label">Searching...</div>
        </div>
    </div>
</body>
</html>