<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"/>
    <title>Open Travel Mate</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no"/>
    <link rel="stylesheet" href="main.css" type="text/css" media="screen"/>
    <link rel="stylesheet" href="menu.css" type="text/css" media="screen"/>
    <link rel="stylesheet" href="../common/common.css" type="text/css" media="screen"/>
</head>
<body>
	<div id="main-menu" class="otm-panel otm-menu">
        <div class="otm-menu-logo">
            <img class="otm-menu-logo-img" src="image/ic_logo.png" alt="Open Travel Mate"/>
        </div>
        <div id="otm-menu-button-panel"></div>
    </div>
    <div id="central-panel">
        <div id="map" data-otm-widget="Map"></div>
        <div id="side-panel" class="otm-panel">
            <div id="side-panel-titlebar">
                <div id="side-panel-title-label"></div>
                <button id="side-panel-maximize-button" class="otm-button otm-button-middle" title="Maximize">
                    <img src="image/ic_btn_left.png" alt="Maximize"/>
                </button>
                <button id="side-panel-minimize-button" class="otm-button otm-button-middle" title="Minimize">
                    <img src="image/ic_btn_right.png" alt="Minimize"/>
                </button>
                <button id="side-panel-fullscreen-button" class="otm-button otm-button-middle" title="Fullscreen">
                    <img src="image/ic_btn_fullscreen.png" alt="Fullscreen"/>
                </button>
                <button id="side-panel-restore-size-button" class="otm-button otm-button-middle" title="Restore size">
                    <img src="image/ic_btn_restore_size.png" alt="Restore size"/>
                </button>
                <button id="side-panel-close-button" class="otm-button otm-button-middle"  title="Close">
                    <img src="../common/image/ic_btn_close.png" alt="Close"/>
                </button>
            </div>
            <div id="side-panel-content"></div>
        </div>
    </div>
    <div id="footer-panel" class="otm-panel">
        <div id="footer-panel-titlebar">
            <div id="footer-panel-title-label"></div>
            <button id="footer-panel-maximize-button" class="otm-button otm-button-middle" title="Maximize">
                <img src="./image/ic_btn_up.png" alt="Maximize"/>
            </button>
            <button id="footer-panel-minimize-button" class="otm-button otm-button-middle" title="Minimize">
                <img src="./image/ic_btn_down.png" alt="Minimize"/>
            </button>
            <button id="footer-panel-close-button" class="otm-button otm-button-middle"  title="Close">
                <img src="../common/image/ic_btn_close.png" alt="Close"/>
            </button>
        </div>
        <div id="footer-panel-content"></div>
    </div>

    <script type="text/template" id="tpl-menu-item">
        <button id="${id}" class="otm-button otm-menu-button" title="${tooltip}" style="height: ${size}px; width: ${size}px;">
            <img alt="${title}" src="${iconUrl}"/>
        </button>
    </script>
</body>
</html>
