body {
	background-color: black;
}

#main-menu {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	height: 60px;
}


/*************
 CENTRAL PANEL
 *************/

#central-panel {
    position: absolute;
    left: 0;
    top: 60px;
    right: 0;
    bottom: 0;
}

.central-panel-hidden-by-footer-panel {
    bottom: 160px !important;
}

.central-panel-hidden-by-minimized-footer-panel {
    bottom: 50px !important;
}

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

@media (min-width: 900px) {
    .map-hidden-by-side-panel {
        right: 360px !important;
    }
}
@media (max-width: 899px) {
    .map-hidden-by-side-panel {
        display: none !important;
    }
}

.map-hidden-by-minimized-side-panel {
    right: 50px !important;
}


/**********
 SIDE PANEL
 **********/

#side-panel {
    display: none;
    position: absolute;
}

@media (min-width: 900px) {
    #side-panel {
        top: 0;
        right: 0;
        bottom: 0;
        width: 360px;
        border-top: 2px solid #0099cc;
    }
}
@media (max-width: 899px) {
    #side-panel {
        left: 0;
        top: -60px;
        right: 0;
        bottom: 0;
    }
}

#side-panel-titlebar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 58px;
    border-bottom: 2px solid #0099cc;
}

#side-panel-title-label {
    position: absolute;
    left: 5px;
    top: 13px;
    right: 140px;
    bottom: 10px;
    font-size: 24px;
    color: #00bfff;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

#side-panel-close-button {
    position: absolute;
    right: 5px;
    top: 10px;
}

#side-panel-fullscreen-button, #side-panel-restore-size-button {
    display: none;
    position: absolute;
    right: 50px;
    top: 10px;
}

#side-panel-fullscreen-button img, #side-panel-restore-size-button img {
    width: 26px;
    height: 26px;
    margin-left: 5px;
}

#side-panel-minimize-button, #side-panel-maximize-button {
    position: absolute;
    top: 10px;
}
@media (min-width: 900px) {
    #side-panel-minimize-button, #side-panel-maximize-button {
        right: 95px;
    }
}
@media (max-width: 899px) {
    #side-panel-minimize-button, #side-panel-maximize-button {
        right: 50px;
    }
}
#side-panel-maximize-button {
    display: none;
}

#side-panel-content {
    position: absolute;
    top: 60px;
    bottom: 0;
    left: 0;
    right: 0;
    overflow-y: auto;
}

/* Special modes */

.side-panel-fullscreen {
    left: 0 !important;
    top: -60px !important;
    right: 0 !important;
    bottom: 0 !important;
    width: auto !important;
}

.side-panel-minimized {
    top: 0 !important;
    left: auto !important;
    width: 50px !important;
    border-top: none !important;
}
.side-panel-minimized #side-panel-content,
.side-panel-minimized #side-panel-close-button,
.side-panel-minimized #side-panel-fullscreen-button,
.side-panel-minimized #side-panel-restore-size-button {
    display: none !important;
}
.side-panel-minimized #side-panel-title-label {
    height: 50px;
    left: auto;
    right: auto;
            transform: rotate(90deg) translate(50px,-43px);
            transform-origin: 0 0;
        -ms-transform: rotate(90deg) translate(50px,-43px);
        -ms-transform-origin: 0 0;
       -moz-transform: rotate(90deg) translate(50px,-43px);
       -moz-transform-origin: 0 0;
    -webkit-transform: rotate(90deg) translate(50px,-43px);
    -webkit-transform-origin: 0 0;
}
.side-panel-minimized #side-panel-maximize-button {
    right: 5px !important;
}
.side-panel-minimized #side-panel-titlebar {
    border-bottom: none !important;
}

/************
 FOOTER PANEL
 ************/

#footer-panel {
    display: none;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 160px;
    border-top: 1px solid #aaa;
}

#footer-panel-titlebar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

#footer-panel-titlebar, .footer-panel-minimized {
    height: 50px !important;
}

#footer-panel-title-label {
    position: absolute;
    top: 8px;
    left: 5px;
    font-size: 24px;
    right: 103px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

#footer-panel-close-button {
    position: absolute;
    right: 5px;
    top: 5px;
}

#footer-panel-maximize-button, #footer-panel-minimize-button {
    position: absolute;
    right: 50px;
    top: 5px;
}

#footer-panel-maximize-button {
    display: none;
}

#footer-panel-content {
    position: absolute;
    top: 50px;
    bottom: 0;
    left: 0;
    right: 0;
    overflow-y: auto;
}