body {
	background-color: black;
}

#main-menu {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	height: 60px;
}


/*************
 CENTRAL PANEL
 *************/

#central-panel {
    position: absolute;
    left: 0;
    top: 60px;
    right: 0;
    bottom: 0;
}

@media (min-width: 900px) {
    .central-panel-hidden-by-side-panel {
        right: 360px !important;
    }
}
@media (max-width: 899px) {
    .central-panel-hidden-by-side-panel {
        display: none !important;
    }
}

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.map-hidden-by-footer-panel {
    bottom: 160px !important;
}

.map-hidden-by-minimized-footer-panel {
    bottom: 50px !important;
}


/**********
 SIDE PANEL
 **********/

#side-panel {
    display: none;
    position: absolute;
}

@media (min-width: 900px) {
    #side-panel {
        top: 60px;
        right: 0;
        bottom: 0;
        width: 360px;
        border-top: 2px solid #0099cc;
    }
}
@media (max-width: 899px) {
    #side-panel {
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
    }
}

.side-panel-fullscreen {
    left: 0 !important;
    top: 0 !important;
    right: 0 !important;
    bottom: 0 !important;
    width: auto !important;
}

#side-panel-titlebar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 64px;
    border-bottom: 2px solid #0099cc;
}

#side-panel-title-label {
    position: absolute;
    left: 5px;
    top: 16px;
    right: 103px;
    bottom: 8px;
    font-size: 24px;
    color: #00bfff;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

#side-panel-close-button {
    position: absolute;
    right: 5px;
    top: 10px;
    width: 44px;
    height: 44px;
}

#side-panel-fullscreen-button, #side-panel-restore-size-button {
    display: none;
    position: absolute;
    right: 54px;
    top: 10px;
    width: 44px;
    height: 44px;
}

#side-panel-fullscreen-button img, #side-panel-restore-size-button img {
    width: 30px;
    height: 30px;
    margin-left: 5px;
}

#side-panel-content {
    position: absolute;
    top: 66px;
    bottom: 0;
    left: 0;
    right: 0;
    overflow-y: auto;
}


/************
 FOOTER PANEL
 ************/

#footer-panel {
    display: none;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 160px;
}

#footer-panel-titlebar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

#footer-panel-titlebar, .footer-panel-minimized {
    height: 50px !important;
}

#footer-panel-title-label {
    position: absolute;
    top: 8px;
    left: 5px;
    font-size: 24px;
    right: 103px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

#footer-panel-close-button {
    position: absolute;
    right: 5px;
    top: 5px;
}

#footer-panel-maximize-button, #footer-panel-minimize-button {
    position: absolute;
    right: 50px;
    top: 5px;
}

#footer-panel-maximize-button {
    display: none;
}

#footer-panel-content {
    position: absolute;
    top: 50px;
    bottom: 0;
    left: 0;
    right: 0;
    overflow-y: auto;
}