/**
 * Menu logo
 */
.otm-menu-logo {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 172px;
}

.otm-menu-logo-img {
    margin-top: 5%;
    margin-left: 5px;
    height: 70%;
}

/**
 * Menu items
 */
#otm-menu-button-panel {
    position: absolute;
    left: 182px;
    right: 5px;
    top: 5px;
    bottom: 5px;
}

#otm-menu-button-panel button.otm-menu-button {
    float: right;
    margin-left: 5px;
    padding: 2px;
}

