.item {
    position: relative;
    border-bottom: 1px solid #BEBEBE;
    height: 49px;
    cursor: pointer;
}

.item-icon {
    position: absolute;
    display: block;
    left: 10px;
    top: 10px;
    width: 30px;
}

.item-label {
    color: #BEBEBE;
    position: absolute;
    left: 50px;
    right: 60px;
    top: 10px;
    font-size: 20px;
}