body {
    padding: 0;
    margin: 0;
}

/**
 * Routes
 */

ul#routes {
    padding: 0;
    margin: 0;
}

ul#routes li {
    padding: 10px;
    border-bottom: 1px solid #aaa;
    cursor: pointer;
}

ul#routes li:hover {
    background-color: #363735;
}

.route-color-box {
    position: relative;
    display: inline-block;
    width: 1em;
    height: 1em;
    border: 1px solid black;
    top: 3px;
}


/**
 * Timetables
 */

#timetable-panel {
    display: none;
    position: absolute;
    width: 100%;
    bottom: 0;
}

#timetable-panel-header {
    height: 50px;
    border-bottom:
    1px solid #00BFFF;
}

#timetable-panel-header-label {
    float: left;
    padding-top: 10px;
    padding-left: 10px;
    font-size: 22px;
}

button#close-timetable-panel-btn {
    display: block;
    float: right;
    margin-top: 5px;
    margin-right: 10px;
}

#timetable-panel-body {
    position: absolute;
    width: 100%;
    top: 50px;
    bottom: 0;
    overflow: auto;
}


#timetable-panel-body td {
    padding: 0 2px 0 2px;
}

#timetable-panel-body .header-row td {
    font-size: 20px;
    background-color: rgba(255, 255, 255, 0.4);
    padding: 13px;
}

#timetable-panel-body table {
    border-collapse: collapse;
}
#timetable-panel-body tr.stop-row {
    font-size: 14px;
}
#timetable-panel-body tr.times {
    font-size: 18px;
}
#timetable-panel-body tr.stop-row td {
    padding-top: 5px;
}
#timetable-panel-body .column_even {
    background-color: rgba(255, 255, 255, 0.1);
}
#timetable-panel-body .stop-name {
    position: absolute;
    left: 2px;
    width: 300px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#timetable-panel-body .highlight {
    background-color: #0099cc;
}


/**
 * Loading
 */

#loading-panel-mask {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.5;
    background-color: #aaa;
}

#loading-panel {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
}

#loading-panel-content {
    position: absolute;
    top: -70px;
    left: -70px;
    width: 140px;
    height: 140px;
    background-color: #4B4C49;
    border-radius: 10px;
}

#loading-panel-content img {
    width: 70px;
    height: 70px;
    margin-top: 20px;
    margin-left: 35px;
    opacity: 1;
}

#loading-label {
    width: 100%;
    text-align: center;
    margin-top: 7px;
}